form
{
	background-color:#DADADA;
}
#containerregistration{
	margin-top:1%;
}

@media screen and (max-width: 992px) {
  i  {
    float: none;
    width: 100%;
  }
}
#submit{
	margin-left:25%;
	width:50%;
	
}
hr.solid {
  border-top: 3px solid #949494;
}
.forgetdetails{
	text-align:center;
	text-transform: uppercase;
	font-style: oblique;
	font-size:15px;
	color:#2D75E3;
}
/*.col-sm-10{
position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 0px;
}*/
