form
{
	background-color:#DADADA;
}
#containerregistration{
	margin-top:1%;
}

@media screen and (max-width: 992px) {
  i  {
    float: none;
    width: 100%;
  }
}

/*.col-sm-10{
position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 0px;
}*/
